services:
  bookings:
    image: ghcr.io/naoiseol/cicd_bookings/bookings2:latest
    ports:
      - "8001:8000"
    networks:
      - labnet

  users:
    image: ghcr.io/naoiseol/cicd_users/users2:latest
    ports:
      - "8002:8000"
    networks: 
      - labnet
  
  payments:
    image: ghcr.io/naoiseol/cicd_payments/payments2:latest
    ports:
      - "8003:8000"
    networks:
      - labnet

networks:
  labnet: